.centraliza {
    width: 555px;
    margin: auto;
    height: 375px;
}

.ajuste_lagura_altura{
    width:50%;
    height: inherit;
}

.footer{
    /* position: fixed; */
    bottom:0%;
    width: 100%;
    background-color: #2f2e2e;
    color: white;
}

.f-12{
    font-size: 12px;
}

.texto-footer{
    margin-bottom: 5px;
}

.site{
    color: rgb(182, 182, 182);
}

.msg{
    display: none;
}